* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .main {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    box-shadow: 0px 10px 20px black;
  }
  .main-container {
    margin: auto;
    width: 95%;
    height: 3760px;
    font-size: 20px;
    border: none;
  }
  
  .passport-application {
    width: 36%;
    margin: auto;
  }
  .container {
    border: 1px solid rgb(229, 156, 168);
    margin-top: 10px;
    margin-bottom: -9px;
  }
  .option {
    margin-left: 13%;
    border: 1px solid black;
    width: 27%;
    height: 27px;
    margin-top: 10px;
    background-color: rgba(211, 227, 241, 0.812);
  }
  
  .heading {
    margin: auto;
    font-size: 25px;
    width: 52%;
  }
  .img-para {
    width: 100%;
    display: inline-block;
  }
  .first-img,
  img {
    display: inline-block;
    width: 10%;
    height: 88px;
  }
  .para {
    display: inline-block;
    width: 89%;
    font-weight: 600;
  }
  
  .services {
    height: 34px;
    background: rgb(185, 181, 181);
    margin-top: 10px;
  }
  .applying-for {
    height: 29px;
    border: 2px solid black;
    width: 28%;
    margin: auto;
    margin-left: 15%;
  }
  .required {
    font-weight: 800;
  }
  .button {
    width: 100%;
    display: inline-block;
  }
  .radio-button {
    margin-left: 21%;
    display: inline-block;
    padding-top: 10px;
  }
  .radio-button1 {
    display: inline-block;
    margin-left: 17%;
    padding-top: 9px;
  }
  input {
    font-size: 20px;
  }
  .third-session {
    margin-top: 10px;
  }
  .middle-name,
  .surname,
  .dob {
    width: 100%;
    border: 1px solid black;
    height: 27px;
    margin-top: 5px;
    background-color: rgba(211, 227, 241, 0.812);
  }
  .gender {
    width: 20%;
    height: 27px;
    background-color: rgba(211, 227, 241, 0.812);
    margin-top: 12px;
  }
  .radio-button2 {
    display: inline-block;
    margin-left: 10.4%;
    padding-top: 10px;
  }
  .radio-button3 {
    display: inline-block;
    margin-left: 17.2%;
    padding-top: 10px;
  }
  
  .village-town {
    width: 50%;
    border: 1px solid black;
    height: 27px;
    background-color: rgba(211, 227, 241, 0.812);
    margin-left: 10%;
  }
  .material-status,
  .Citizenship-of-India-by,
  .id,
  .Employment-Type,
  .government-servant,
  .qualification,
  .category,
  .distinguishing-marks,
  .aadhar-num {
    width: 10%;
    border: 1px solid black;
    height: 27px;
    background-color: rgba(211, 227, 241, 0.812);
    margin-left: 2%;
    margin-top: 10px;
  }
  .Citizenship-of-India-by,
  .id,
  .aadhar-num,
  .qualification {
    width: 20%;
  }
  .Employment-Type {
    width: 81%;
  }
  .distinguishing-marks {
    width: 75%;
  }
  .para2 {
    margin-top: 10px;
    border: 1px solid black;
    font-size: 20px;
  }
  
  .father-name,
  .guardian-name,
  .mother-name {
    width: 100%;
    background-color: rgba(211, 227, 241, 0.812);
    height: 27px;
    border: 1px solid black;
  }
  .house-no {
    width: 77%;
    background-color: rgba(211, 227, 241, 0.812);
    height: 27px;
    margin-top: 11px;
  }
  .code {
    width: 18%;
    background-color: rgba(211, 227, 241, 0.812);
    height: 27px;
    margin-top: 12px;
  }
  #country {
    margin-left: 12%;
  }
  #tel {
    margin-left: 3%;
  }
  .email {
    width: 46%;
    background-color: rgba(211, 227, 241, 0.812);
    height: 27px;
    margin-left: 7%;
  }
  .Emergency-Contact-Details {
    width: 100%;
    background-color: rgba(211, 227, 241, 0.812);
    height: 27px;
    margin-top: 10px;
  }
  .tel {
    width: 18%;
    background-color: rgba(211, 227, 241, 0.812);
    height: 27px;
    margin-top: 12px;
    margin-left: 2%;
  }
  .identity {
    width: 100%;
    margin-top: 10px;
  }
  .identity-details {
    width: 100%;
    display: inline-block;
    margin: auto;
  }
  .details1 {
    width: 55%;
    display: inline-block;
  }
  .details {
    width: 35%;
    display: inline-block;
  }
  
  .num-options {
    width: 100%;
    margin: auto;
    display: inline-block;
  }
  .num-options {
    margin-top: 10px;
  }
  .num-1 {
    width: 83%;
    margin: auto;
    display: inline-block;
  }
  .num-radio-button4 {
    margin: auto;
    width: 9%;
    display: inline-block;
    float: right;
  }
  
  #checkbox1 {
    margin-left: 10px;
  }
  .required-place {
    background-color: rgba(211, 227, 241, 0.812);
    width: 40%;
  }
  .valid {
    width: 17%;
    height: 31px;
    background-color: rgb(186, 177, 177);
    padding: 4px;
    margin: auto;
  }
  .ids {
    width: 20%;
    margin-top: 5px;
    margin-left: 45px;
    background-color: rgba(211, 227, 241, 0.812);
  }
  .idss {
    width: 20%;
    margin-left: 110px;
    background-color: rgba(211, 227, 241, 0.812);
  }