body{
    background: #376737;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .line-box{
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid yellow;
    border-radius: 20px;
}
.loading .line-box .line{
    height: 20px;
    border-radius: 20px;
    background: white;
    animation: loading 10s forwards cubic-bezier(0.215, 0.610, 0.355, 1);
}
@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

