* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px 0;
}

#about {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#skills ul {
  list-style-type: none;
}

#skills ul li {
  background: #efefef;
  margin: 5px 0;
  padding: 8px;
  border-radius: 3px;
}

#projects .project {
  background: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-form input, #contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

footer p {
  font-size: 14px;
}

.image {
  width: 90px;
  margin-left: 700px;
  position: absolute;
  margin-top: 35px;

}




